/* Page Color */
body {
    background-color: #B33549;
}


#logo_img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#fssai_logo {
    width: 60px;
    height: 30px;
    background-color: white;
    cursor: auto;
}

/* Remove underline of anchor tag link using text decoration fssai link*/
#fssai_link {
    text-decoration: none;
    color: yellow;
    /* text-shadow: 2px 2px 2px red; */
}


/* Applying color and underline on Fsssai link */
#fssai_link:hover {
    color: violet;
    text-decoration: underline;
}

.nav-item {
    color: white;
    text-align: center;
}

/* Nav Items Color and Margin */
.nav-link,
.nav {
    color: tomato;
    margin-left: 5px;
    margin-right: 5px;
}

/* ON mouse hover background color  */
.nav-item:hover {
    background-color: gray;
}

/* ON mouse hover nav item color  */
.nav-link:hover,
.nav-link:visited {
    color: tomato;
    background-color: gray;
}


.navbar-brand,
.navbar-toggler {
    clear: both;
}

/* Toggle button styling */
.navbar-toggler {
    background-color: #B33549;
    color: yellow;
}

button.navbar-toggler:hover {
    border: 2px solid yellow;
}

/* Carousel Slide Styling */
.carousel-img {
    display: block;
    width: 100%;
    height: 400px;
}


/* Coffe Item Heading */
.coffee-name{
    text-decoration: none;
    font-size: 30px;
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col-6{
    border: 2px solid white;
    border-left: none;
    
}

.cart-img{
    position: relative;
    display: inline-block;
}

.cart-img img{
    display: block;
}

.price{
    color: white;
    font-size: 20px;

}

.coffee-cap{
    font-style: italic;
    font-size: small;
}

/* Footer styling */
.foot-row {
    background-color: #222;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 20px;

}

/* Footer copyWrite styling */
.copywrite {
    margin-top: 15px;
    text-shadow: 1px 1px 0px tomato;
}

/* Using media query for responsive */
/* Hide 3rd column in footer row if screen is below than 992px*/
@media (max-width: 992px) {
    #column-3 {
        display: none;
    }
}

/* Footer heading (Timing, Address) is align center if screen is below than 576px */
/* Hide fssai link which in Navbar if screen is below than 576px*/
@media (max-width: 576px) {
    section p {
        text-align: center;
    }

    .fssai {
        display: none;
    }

}

@media (min-width: 575px) and (max-width: 768px){
    .coffee-name{
        font-size: 20px;
    }
    
}

